@font-face {
  font-family: Florisha;
  src: url('/fonts/Florisha.otf') format('opentype');
}
@font-face {
  font-family: Recoleta;
  src: url('/fonts/Recoleta.otf') format('opentype');
}
@import "tailwindcss";
@theme{
  --font-florisha : Florisha, 'sans-serif';
  --font-recoleta : Recoleta, 'sans-serif';
}
html{
  scroll-behavior: smooth;
}